html, body, section, article,
h1, h2, p, strong, em, a {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    height: 100%; 
    width: 100%; 
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
    text-decoration: inherit;
    text-align: inherit;
    font-weight: normal;
    color: inherit;
    background: transparent;
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.game_state {
    position: absolute;
    display: flex;
    width: 10rem; 
    height: 5rem;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.5rem;  
    padding: 0.7rem 1.5rem; 
    font-size: 1.5rem; 
    color: #0E1D45; 
    background-color: rgb(170, 205, 219); 
    border-radius: 0.2rem; 
    box-shadow: 0px 0.2rem 1rem rgb(182, 194, 202); 
}

#level, #score {
    font-weight: 700;
}


#start_game_modal {
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0, 0.4);
  display: flex; 
  justify-content: center;
  align-items: flex-start; 
  transition: 0.5s all;
}

#start_button {
    position: relative; 
    top: 13.4rem; 
    font-size: 2rem; 
    font-weight: 500;
    color: #0E1D45; 
    border: 0.1rem solid green; 
    background-color: rgb(182, 202, 182); 
    outline: none; 
    padding: 0; 
    margin: 0; 
    width: 7rem; 
    height: 3rem;
    border-radius: 0.3rem; 
    transition: background 0.2s;
    box-shadow: 0px 0.2rem 1rem rgb(182, 202, 182); 
}

#start_button:hover {
    background-color: rgb(112, 121, 112); 
    cursor: pointer;
}


#seconds {
    height: 0rem; 
    font-size: 5rem;
    font-weight: 700;
    color: #0E1D45;
    position: relative; 
    top: 8rem;
    z-index: 10000; 
}

.scene {
    margin-top: 8rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 38.05rem;
}

.background_grid {
    height: 38.05rem; 
    width: 45rem; 
    position: relative; 
    top: 10%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border: 0.1rem solid #133074;
    border-radius: 0.5rem;
    box-shadow: 0px 0.2rem 1rem #133074; 
} 

.balls {
    position: relative; 
    top: -22.55rem;
    width: 36rem; 
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.ball {
    background-color: rgb(223, 22, 22);
    border-radius: 50%;
    z-index: 3;
    height: 5.3rem; 
    width: 5.3rem;  
    border: 0.1rem solid rgb(131, 50, 50);
    outline: none; 
}
