html, body, section, article,
h1, h2, p, strong, em, a {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    height: 100%; 
    width: 100%; 
    box-sizing: inherit;
    font-family: 'Roboto';
    text-decoration: inherit;
    text-align: inherit;
    font-weight: normal;
    color: inherit;
    background: transparent;
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.scene {
    height: 35rem; 
    width: 45rem;
    position: relative; 
    top: 10%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    overflow: hidden;
    border: 0.1rem solid #133074;
    border-radius: 0.5rem;
    box-shadow: 0px 0.2rem 1rem #133074; 
} 

.background_grid {
    width: 100% ; 
    height: 40rem;
}

.ground {
    width: 100%;  
    height: 10rem;
    position: relative; 
    bottom: 15rem;  
}

.balls {
    position: absolute; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 36.2rem;
    z-index: 1;
    top: 30%; 
    left: 15.86rem; 
}

.ball {
    height: 7rem; 
    width: 7rem; 
    outline: none; 
}

.dragable {
    position: absolute; 
}

#first_dragable_ball {
    left: 2.5rem; 
}

#third_dragable_ball {
    right: 2.5rem; 
}

.draggable-source--is-dragging {
    visibility: hidden; 
}

.inbox {
    bottom: 23.5%;  
    z-index: 2;
}

#first_box_ball, #second_box_ball, #third_box_ball {
    visibility: hidden; 
}

.boxes {
    position: relative; 
    top: -11rem; 
    width: 30rem; 
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.box {
    height: 15rem; 
    width: 12rem; 
}